body {
    height: 2000px;
}

i {
    color: white;
}

.card-custom>a {
    text-decoration: none !important;
    color: black;
}

.card-container {
    height: 400px;
}

.card-container :hover {
    box-shadow: rgb(0 0 0 / 13%) 0px 10px 20px 0px, rgb(0 0 0 / 19%) 0px 3px 9px 0px;
}

.card-custom>a:hover {
    box-shadow: none;
    color: black;
}

.custom-width {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.default-font {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.button-custom {
    border-radius: 0 !important;
    color: white !important;
}

.button-custom:hover {
    border:  1px solid rgba(255, 255, 255, 0.404) !important;
}

.banner {
    max-height: 700px;
    height: auto;
    z-index: 1;
    top: 0;
    overflow: hidden;
    /* position: fixed !important; */
}

.navbar-brand-custom {
    color: #ffffff !important;
    letter-spacing: 0.5rem;
    font-weight: 300;
}

.logo-custom {
    background-color: #C4C4C430;
    position: absolute !important;
    top: 0;
    height: 70px;
    width: 100%;
}

.btn-custom {
    background-color: #00081C !important;
    color: white !important;
}

.fa-custom {
    opacity: 0.4;
}

.input-group {
    width: unset !important;
}

.navbar-custom {
    background-color: #625D5D30;
    position: absolute !important;
    top: 70px;
    width: 100%;
    height: 70px;
}

.navbar-custom-color {
    color: #ffffff !important;
    font-size: 13px;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(185, 181, 181, 0.418);
    opacity: 0.2;
}


/* .best-selling {
    margin-top: 100px;
} */

.card-deck {
    margin: 0 -15px;
    justify-content: space-between;
}

.card-deck .card {
    margin: 0 0 1rem;
}

.card-custom {
    border: none !important;
}

.card-img-custom {
    height: 220px;
    /* height: auto; */
}

.card-custom:hover {
    transition: box-shadow 0.3s ease 0s;
}

.look-for {
    height: 333px;
    overflow: hidden;
}

.look-for-img {
    height: 333px;
}

.look-for-info {
    position: absolute;
    top: 100px;
}

.look-for-title {
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0.2rem;
}

.look-for-btn {
    height: 50px;
    width: 250px;
}

.our-collection {
    max-height: 420px;
    height: auto;
    overflow: hidden;
}

.our-collection-info {
    position: absolute;
    top: 120px;
}

.info-container {
    height: 400px;
    margin-top: 200px;
}

.footer {
    height: 300px;
}

.footer-inner {
    color: black;
}

.carousel-control-custom {
    color: black !important;
}

.add-btn {
    background-color: #00081C !important;
    color: white !important;
    
}

@media (min-width: 300px) and (max-width: 449.98px) {
    /* .card-custom {
        margin-left: 15px;
        margin-right: 15px;
    } */
    .navbar-brand-custom {
        font-size: 0.8rem !important;
    }
    /* .card-img-custom {
        height: 300px;
        position: relative;
    } */
}

@media (min-width: 450px) and (max-width: 575.98px) {
    .navbar-brand-custom{
        font-size: 0.9rem !important;
    }

    .info-containe{
        height: 800px !important;
    }

    
 
 
    /* .card-img-custom {
        height: 350px;
        position: relative;
    } */
}


/* @media (min-width: 576px) and (max-width: 767.98px) {
    .card-deck .card {
        -ms-flex: 0 0 48.7%;
        flex: 0 0 48.7%;
    }
} */

@media (min-width: 768px) and (max-width: 991.98px) {
    /* .card-deck .card {
        -ms-flex: 0 0 32%;
        flex: 0 0 32%;
    } */
    /* .card-img-custom {
        height: 220px;
    } */
}


/* @media (min-width: 992px) {
    .card-deck .card {
        -ms-flex: 0 0 24%;
        flex: 0 0 24%;
    }
} */

@media screen and (min-width: 992px) {
    .navbar-custom,
    .logo-custom {
        z-index: 2;
    }
    .banner>img {
        min-height: 100vh;
    }
}


/* Nav */


/* .overlay {
    height: 100%;
    width: 60%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 50%;
    text-align: center;
    margin-top: 10px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 45px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
    font-size: 16px
    }
    .overlay .closebtn {
    font-size: 20px;
    top: 15px;
    right: 35px;
    }
  } */