.imglist-custom {
    max-width: 520px;
    max-height: 600px;
}

.imglist-imgcustom {
    max-height: 400px;
    max-width: 400px;
    width: 400px;
    height: auto;
}

.product-name {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.705);
}

.product-price {
    font-size: 18px;
    font-weight: 600;
}