* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    overflow-y: scroll;
    color: #464646;
    background-color: #f4f7fa;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

#header {
    background-color: #34465c;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.nav-bar {
    justify-content: space-between !important;
    border: none !important;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
}

.logo-brand img {
    width: 120px;
    margin-left: 20px;
}

.menu {
    color: white;
    height: 60px;
    padding-top: 15px;
}

.menu ul {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.menu ul li {
    display: inline;
    line-height: 30px;
    position: relative;
}

.menu ul li a {
    text-decoration: none;
    /* xoa gach ngang */
    text-transform: uppercase;
    font-size: 13px;
    padding: 0 20px 20px 0;
    color: white;
}

.menu ul li a:hover {
    color: red;
}

.menu ul li>.sub-menu {
    display: none;
    position: absolute;
}


/* an sub menu */

.menu ul li:hover .sub-menu {
    display: block;
}

.sub-menu {
    background-color: transparent;
    width: 100px;
    padding-top: 5px;
}

.sub-menu li a {
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    width: 100%;
    background-color: wheat;
}

.date {
    margin-bottom: 15px;
}

h1 {
    line-height: 1.75 !important;
}

h1 {
    font-size: 1.6rem !important;
}

.category {
    background-color: #e5e5e5;
    color: grey;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    margin-right: 0.4rem;
    cursor: pointer;
    margin-bottom: 15px;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.blog-content {
    overflow-x: auto;
    padding: 1.5rem 0 1rem 0;
    border-top: 0.5px solid #00000020;
    line-height: 1.75rem;
    letter-spacing: -0.003em;
}

.body-content .breadcrum {
    padding-left: 0;
}

.breadcrum {
    margin-bottom: 15px;
}

.breadcrum .bc {
    padding: 0 1rem;
    font-size: .6rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    flex-direction: column;
}

.body-content {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.main-post {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.main-container {
    max-width: 1250px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    line-height: 1.75 !important;
    font-size: 1.6rem !important;
}

.post-content {
    overflow-x: auto;
    /*add scroll bar in content too long */
    padding: 1.5rem 0 1rem 0;
    border-top: 0.5px solid #00000020;
    line-height: 1.75rem;
    letter-spacing: -0.003em;
}

p {
    margin-bottom: .5rem;
    margin-top: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}