body {
  font-family: "Futura ", sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important ;
}

i {
  color: white;
}

.custom-width-2 {
  max-width: 1140px;
}

.dropdown-bgcustom {
  background-color: rgb(236, 234, 234) !important;
}

.card-custom > a {
  text-decoration: none !important;
  color: black;
}

.nav-hover :hover {
  border-bottom: 1px ridge black;
}

.nav-padding {
  padding-top: 5px;
}

/* .card-container {
    max-height: 400px;
} */

.card-container :hover {
  box-shadow: rgb(0 0 0 / 13%) 0px 10px 20px 0px,
    rgb(0 0 0 / 19%) 0px 3px 9px 0px;
}

.card-custom > a:hover {
  box-shadow: none;
  color: black;
}

.card-title-custom {
  font-size: 13px !important ;
  color: black !important;
  opacity: 0.7 !important;
}

.card-text-custom {
  font-size: 1.2rem !important;
}

.custom-width {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.button-custom {
  border-radius: 0 !important;
  color: white !important;
}

.button-custom:hover {
  border: 1px solid rgba(255, 255, 255, 0.404) !important;
}

.banner {
  max-height: 400px;
  height: auto;
  overflow: hidden;
}

.navbar-nav {
  font-size: 13px;
}

.navbar-brand-custom {
  letter-spacing: 0.3rem;
}

.logo-custom {
  background-color: rgb(0, 8, 28) !important;
  height: 50px;
  width: 100%;
}

.btn-custom {
  background-color: #00081c !important;
  color: white !important;
}

.fa-custom {
  opacity: 0.4;
}

.input-group {
  width: unset !important;
  color: black !important;
}

h5 {
  font-size: 1.15rem !important;
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.11);
  opacity: 0.1;
}

.img-overlay-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.103);
  opacity: 0.2;
}

.best-selling {
  font-size: 24px;
  letter-spacing: 0.15rem;
}

.card-deck {
  margin: 0 -15px;
  justify-content: space-between;
}

.card-deck .card {
  margin: 0 0 1rem;
}

.card-custom {
  border: none !important;
}



.card-custom:hover {
  transition: box-shadow 0.3s ease 0s;
  box-shadow: rgb(0 0 0 / 13%) 0px 10px 20px 0px, rgb(0 0 0 / 19%) 0px 3px 9px 0px;
}

.product-name {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

.product-price {
  font-size: 20px;
  font-weight: 400;
}

.modal-dialog-full-width {
  width: 40% !important;
  margin: 0 0 0 auto !important;
  min-width: 400px;
}

.look-for {
  max-height: 350px;
  overflow: hidden;
}

.centered {
  max-width: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.look-for-img {
  height: 100%;
}

.look-for-title {
  color: #ffffff;
  font-size: 1.2rem;
  letter-spacing: 0.15rem;
}

.look-for-btn {
  height: 50px;
  width: 250px;
}

.our-collection {
  max-height: 420px;
  height: auto;
  overflow: hidden;
}

.our-collection-info {
  position: absolute;
  top: 120px;
}



.footer {
  height: 300px;
}

.footer-logo {
  letter-spacing: 0.2rem;
  font-weight: 600;
}

.carousel-control-custom {
  color: black !important;
}

.add-btn {
  background-color: #00081c !important;
  color: white !important;
}

.watch-info {
  max-height: 500px;
  height: auto;
}

.pill-custom {
  /* border: none !important;
    background-color: transparent !important;
    color: black !important; */
  border-bottom: 1px solid black !important;
}

.pill-inner-custom {
  color: black !important;
  background-color: transparent !important;
}

.active {
  border-bottom: 1px ridge black;
  border-radius: 0 !important;
}

.active-border-remove {
  border-bottom: none !important;
}

.pill-inner-custom:default {
  border-bottom: 0 !important;
  border-radius: 0 !important;
}

.pill-inner-custom > a {
  text-decoration: none;
}

.footer-text-center > a {
  text-decoration: none;
  color: black;
}

.text-small {
  font-size: 13px;
}

.footer-bottom:nth-last-child() {
  justify-self: end !important;
}



/* Masori */

.button {
    display: inline-block;
    padding: 0.5em 1.0em;
    margin-bottom: 10px;
    background: #EEE;
    border: none;
    border-radius: 7px;
    background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
    color: #222;
    font-family: sans-serif;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #8CF;
    color: #222;
  }
  
  .button:active,
  .button.is-checked {
    background-color: #28F;
  }
  
  .button.is-checked {
    color: white;
  }
  
  .button:active {
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
  }
  
  /* ---- button-group ---- */
  
  .button-group:after {
    content: '';
    display: block;
    clear: both;
  }
  
  .button-group .button {
    float: left;
    border-radius: 0;
    margin-left: 0;
    margin-right: 1px;
  }
  
  .button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
  .button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }
  
  /* ---- grid ---- */
  
  .grid {
    border: 1px solid #333;
    max-width: 1200px;
  }
  
  /* clear fix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
  /* ---- .element-item ---- */
  
  .element-item {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 10px;
    background: #888;
    color: #262524;
  }
  
  .element-item > * {
    margin: 0;
    padding: 0;
  }
  
  .element-item .name {
    position: absolute;
  
    left: 10px;
    top: 60px;
    text-transform: none;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: normal;
  }
  
  .element-item .symbol {
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 42px;
    font-weight: bold;
    color: white;
  }
  
  .element-item .number {
    position: absolute;
    right: 8px;
    top: 5px;
  }
  
  .element-item .weight {
    position: absolute;
    left: 10px;
    top: 76px;
    font-size: 12px;
  }
  
  .element-item.alkali          { background: #F00; background: hsl(   0, 100%, 50%); }
  .element-item.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
  .element-item.lanthanoid      { background: #FF0; background: hsl(  72, 100%, 50%); }
  .element-item.actinoid        { background: #0F0; background: hsl( 108, 100%, 50%); }
  .element-item.transition      { background: #0F8; background: hsl( 144, 100%, 50%); }
  .element-item.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }
  .element-item.metalloid       { background: #08F; background: hsl( 216, 100%, 50%); }
  .element-item.diatomic        { background: #00F; background: hsl( 252, 100%, 50%); }
  .element-item.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
  .element-item.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }
  

/* .grid-item--width2 {
  width: 200px;
}
.grid-item--height2 {
  height: 250px;
} */

/* End of masori */

@media (min-width: 300px) and (max-width: 449.98px) {
  .navbar-brand-custom {
    margin-right: 0 !important;
  }
  .footer-text-center {
    padding-left: 2rem;
    margin-top: 50px;
  }
}

@media (min-width: 450px) and (max-width: 575.98px) {
  .info-containe {
    height: 800px !important;
  }
  .footer-text-center {
    padding-left: 3rem;
    margin-top: 50px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .footer-text-center {
    padding-left: 5rem;
    margin-top: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 769px) {
  .inner-nav-custom {
    height: 42px;
  }

  .navbar-custom{
  max-height: 60px;
  }
}

/* @media (min-width: 992px) {
    .card-deck .card {
        -ms-flex: 0 0 24%;
        flex: 0 0 24%;
    }
} */

@media screen and (min-width: 992px) {

  .banner > img {
    min-height: 100vh;
  }

  .for-him-img-container {
    max-height: 248px;
    overflow: hidden;
  }
}

@media (min-width: 250px) and (max-width: 767.98px) {
  .modal-dialog-full-width {
    width: 100% !important;
  }
}
