
    h1 {
        color:black;
        background-color:gray;
        text-align: center;
        text-decoration: green;
        font-size: 20px;
    }
    h2 {
        color: yellow;
        background-color: gray;
        text-align: center;
    }

    /* style css cua id */ 
    #doanvan1  {
        color: blueviolet !important;
    }
    .paragraph {
        background-color: gainsboro;
        color:yellowgreen;
    }
    p{
        font-size: 20px;
    }
    img {
        margin: auto;
    }
    div {
        background-color: lemonchiffon;
        width: 50%;
        height: 50px;
    }
