/* body {
    height: 2000px;
} */

.custom-width {
    max-width: 1170px;
}

.carousel-custom {
    height: 660px;
    overflow: hidden;
    margin-bottom: 70px;
}

.carousel-item-custom {
    display: block;
    width: auto;
    max-height: 100%;
}

.card-custom {
    max-width: 370px;
    /* height: 255px; */
}

.card-img-custom {
    display: block;
    width: auto;
    max-height: 225px;
}

.card-custom-2 {
    max-width: 270px;
    border: 1px solid rgba(0, 0, 0, .125) !important;

}

.card-img-custom-2 {
    display: block;
    width: auto;
    max-height: 225px;
}

.custom-width-2 {
    max-width: 1170px;
    height: 310px;
    margin-top: 70px;
    background-color: gray;
}

.new-letter {
    height: 100px;
    margin-top: 70px;
    background-color: #f45a40;
}

.footer {
    height: 360px;
    background-color: #2a2d34;
}